<div class="w-full py-6 px-3">
  <div class="border bg-white shadow-lg rounded-lg overflow-hidden">
    
    <a href="{{ _product.url }}">
      {% if _product.featured_image %}
        <div class="h-80 overflow-hidden">
          <img class="w-full h-full object-cover transition duration-1000 easy-in-out hover:scale-105 transform" src="{{ _product.featured_image | img_url: 'grande' }}" alt="{{ procuct.featured_image.alt }}">
        </div>
        {% else %}
          {{ 'product-1' | placeholder_svg_tag: 'w-full h-full object-cober bg-gray-100'}}   
      {% endif %}
    </a>

    <div class="flex flex-col p-4">
      <span class="text-sm text-gray-400">{{ _product.vendor }}</span>
      <a href="{{ _product.url }}" class="text-gray-700 uppercase font-medium">{{ _product.title }}</a>
      <p class="text-gray-500">{{ _product.price | money }}</p>     
    </div>
  </div>
</div>